/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Nav styling */
nav {
	z-index: 1;
	position: absolute;
	font-family: Arial, sans-serif;
	font-style: bold;
	font-size: 0.82em;
	background-color: #2D2D2D;
	width: 100%;
	height: 30px;
	float: left;
}
nav li {
	position: relative;
	top: 9px;
	left: 16px;
	display: inline;
	padding-right: 16px;
	font-weight: bold;
}
nav li a {
	text-decoration: none;
	color: #BBBBBB;
}
nav li a:hover {
	color: #FFFFFF;
}
/* Sign In button styling */
.sign_in {
	position: relative;
	top: 50px;
	right: 37px;
	float: right;
	font-family: Arial, sans-serif;
	font-style: bold;
	font-size: 0.70em;
	width: 73px;
	height: 29px;
	background-color: #D14836;
	border-radius: 2px;
}
.sign_in p {
	padding-top: 9px;
	color: white;
	font-weight: bold;
	text-align: center;
}
.sign_in a {
	text-decoration: none;
	color: white;
}
.sign_in:hover {
	background-color: #C53727;
	-moz-box-shadow:    0px 2px 2px 0px #DCDCDC;
  	-webkit-box-shadow: 0px 2px 2px 0px #DCDCDC;
  	box-shadow:         0px 2px 2px 0px #DCDCDC;
}
/* Google logo */
.google_logo {
		position: relative;
  		top: 195px;
  		margin-left: 39.5%;
  }
.google_logo p {
	position: relative;
	z-index: 1;
	left: 215px;
	margin-top: -25px;
	font-size: 1.2em;
	width: 100px;
	color: #708090;
	font-family: arial, sans-serif;
	font-weight: bold;
}
/* Search field where a customer inputs */
.search_field {
	position: relative;
	margin-top: 225px;
  	margin-left: 29%;
  	border: 1px #D3D3D3 solid;
}
.search_field:hover {
	border: 1px solid #0000FF;
	-moz-box-shadow:    0px 2px 2px 0px #DCDCDC;
  	-webkit-box-shadow: 0px 2px 2px 0px #DCDCDC;
  	box-shadow:         0px 2px 2px 0px #DCDCDC;
}
/* Search buttons */
.search_buttons {
	postion: relative;
	margin-left: 40.75%;
	width: 400px;
}
.Google_search {
	position: relative;
	top: 30%;
	margin-left: -50px;
	border: 1px solid #D3D3D3; 
	border-radius: 2px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding: 7px;
	margin: 16px 8px 16px 8px;
	background-color: #F5F5F5;
}
.Google_search:hover {
	border: 1px solid #A9A9A9; 
	border-radius: 2px;
	font-family: arial, sans-serif;
	-moz-box-shadow:    0px 1px 1px 0px #DCDCDC;
  	-webkit-box-shadow: 0px 1px 1px 0px #DCDCDC;
  	box-shadow:         0px 1px 1px 0px #DCDCDC;
}
/* Footer styling */
footer {
	position: fixed;
	bottom: 0;
    width: 100%;
    z-index: 1000;	
    border-top: 1px solid #EBEBEB;
	height: 30px;
}
footer li {
	position: relative;
	left: 45%;
	top: 4px;
	border: 0;
	display: inline;
	font-family: arial, sans-serif;
	font-size: 13.33333px;

}
footer li a {
	text-decoration: none;
	color: #666666;
	padding-right: 15px;
}
footer li a:hover {
	text-decoration: underline;
}

